{{ form_start(form) }}
    <div class="form-row">
        <label for="exampleFormControlTextarea1">{{ form_label(form.Text) }}</label>
        {{ form_widget(form.Text) }}
        {{ form_errors(form.Text) }}
    </div>
    <button class="btn btn-primary">{{ button_label|default('Texte à traduire') }}</button>
{{ form_end(form) }}
